.container {
  text-align: left;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}



#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}




@import url('https://fonts.googleapis.com/css2?family=Charm&family=Fruktur&display=swap');

ion-row{
  border-bottom: 2px solid black;
  background: #9d9fa6;
  margin-top: 2px;

}
ion-col{
  text-align-all: center;
  font-size: 12px;
  margin-right: 2px;
}
.header-table {
  font-weight: bold;
  text-align: center;
}

.text{
  margin-left: 20px;
  color: yellow;
  text-decoration: none;
}

.text:active{
  opacity:3;
}
